{% extends 'layout.php' %} {% block content %}
<h3>Please log in by supplying your email address and password</h3>
<form name="login-form" class="two-col" action="/account/web/login" method="post">

    <div class="form-row">
        <label for="email">Email</label>
        <input type="text" name="email" value="{{ email | default('') }}">
        <span class="error">{{ errors['email'] | default('')  }}</span>
    </div>

    <div class="form-row">
        <label for="password">Password</label>
        <input type="password" name="password">
        <span class="error">{{ errors['password'] | default('') }}</span>
    </div>

    <div class="form-row">
        <input type="submit" name="login" value="Login">
    </div>

</form>
{% endblock %}