<h4>Results</h4>
<div class="users">
    {% for user in results %}
    <div class="user">
        <div class="pic" style="background: url(/account/web{{ user.avatar_path }})"></div>
            <div class="name">{{ user.name }}</div>
            <form class="view-form" name="view-form" action="/account/web/view" method="post">
                <input type="hidden" name="user-id" value="{{ user.id }}">
                <input type="submit" name="view" value="View Profile">
            </form>
    </div>
    {% else %}
        <h2>Your search didn't return any results</h2>
    {% endfor %}
</div>